<div ng-controller="MenuCtrl" class="list-group">

  <button id="dashboardButton"
          ng-click="dashboardButton()"
          class="list-group-item2">
    <i class="fa fa-fw fa-dashboard"></i> Dashboard
  </button>

  <!--ng-class="{active : isSelected(section)}">-->
  <!--<button ng-click="dashboardButton()"-->
  <!--class="list-group-item2 selected">-->
  <!--<i class="fa fa-fw fa-dashboard"></i> Dashboard b1-->
  <!--</button>-->
  <!---->
  <!--<button ng-click="dashboardButton()"-->
  <!--class="list-group-item2">-->
  <!--<i class="fa fa-fw fa-dashboard"></i> Dashboard b2-->
  <!--</button>-->

  <button id="chatButton"
          class="list-group-item2"
          ng-click="chartButton()">
    <i class="fa fa-fw fa-bar-chart-o"></i> Charts
  </button>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

  <p>
    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
  </p>

</div>