<div>

  <button id="dashboardButton"
          ng-click="dashboardButton()"
          class="menu-item">
    <i class="fa fa-fw fa-dashboard"></i> Dashboard
  </button>

  <button id="chatButton"
          class="menu-item"
          ng-click="chartButton()">
    <i class="fa fa-fw fa-bar-chart-o"></i> Charts
  </button>

  <button id="chatButton2"
          class="list-group-item"
          ng-click="chartButton()">
    <i class="fa fa-fw fa-bar-chart-o"></i> Charts2
  </button>


</div>