<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="resources/img/default-users.png" width="150px" class="user-avatar"/>
      <h1>SB Admin BS 4 Angular2</h1>

      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text"
                   ng-model="name"
                   class="form-control input-underline input-lg"
                   id="email"
                   placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
          </div>
        </div>
        <button class="btn rounded-btn" ng-click="loginButton()"> Log in</button>
        &nbsp;
        <button class="btn rounded-btn" ng-click="registerButton()">Register</button>
      </form>
    </div>
  </div>
</div>