.menu-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.menu-item,
button.menu-item {
    width: 100%;
    color: #555;
    text-align: inherit;
    /*border: none;*/
}

button.menu-item:focus {
    color: #0f7864;
    text-decoration: none;
    border: none;
    overflow: hidden;
    outline: none;
    /*background-color: #f5f5f5;*/
}

button.menu-item.selected {
    color: #0f7864;
    text-decoration: none;
    border: none;
    overflow: hidden;
    outline: none;
    /*background-color: #f5f5f5;*/
}

a.menu-item:hover,
button.menu-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
